body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/prism.png");
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 18px;
	color: #FFF;
	margin: 0 !important;
}

.header
{
	width: 100%;
	padding: 5px 40px;
	background-color: #000;
}

#logo
{
	font-family: 'Poiret One', cursive;
	color: #FFF;
}

a.logolink
{
	color: #FFF;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

a.logolink:hover
{
	text-decoration: none;
	color: #C9EFF5;
}

a.logolink:visited
{
	text-decoration: none;
}

a.logolink:active
{
	text-decoration: none;
}

#userinfo
{
	text-align:right;
	font-size: 14px;
	color: #303030;
}

.navbar
{
	background-color: #303030;
	font-family: 'Poiret One', cursive;
	text-align: center;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
}

ul
{
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	font-size: 18px;
	line-height: 200%;
	display: inline-block;
}

ul a
{
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}

ul > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #696969;
}

ul > li:first-child
{
	border-left: 1px dashed #696969;
}

ul > li:hover
{
	background-color: #010312;
}

ul > li:hover > a
{
	color: #C9EFF5;
}

.container
{
	padding: 10px 0px;
}

.titleBar
{
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px;
	font-family: 'Poiret One', cursive;
	letter-spacing: 3px;
	background-color: #000;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
	text-align: center;
	color: #FFF;
}



.dataSheet
{
	margin-top: 10px;
	background-color: #696969;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.row
{
	padding: 0px 12px;
}

.singleData
{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#formAlignText
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-size: 16px;
	font-family: 'Poiret One', cursive;
	text-align: right;
}

#formAlignData
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
}

.formText
{
	width: 300px;
	font-family: 'Lato', sans-serif;
	background-color: #EFEFEF;
	color: #666;
	border: 2px solid #303030;
	border-radius: 2px;
	font-size: 14px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

.formText:focus
{
	background-color: #C9EFF5;
}

.expCategory
{
	width: 300px;
	font-family: 'Lato', sans-serif;
	background-color: #EFEFEF;
	color: #666;
	border: 2px solid #303030;
	border-radius: 2px;
	font-size: 14px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

.expCategory:focus
{
	background-color: #C9EFF5;
}

#textArea
{
	width: 300px;
	font-family: 'Lato', sans-serif;
	background-color: #EFEFEF;
	color: #666;
	border: 2px solid #303030;
	border-radius: 2px;
	font-size: 14px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	resize: none;
}

#textArea:focus
{
	background-color: #C9EFF5;
}

table
{
	width: 300px;
	margin: 6px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #303030;
	border-radius: 3px;
}

td
{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	border-bottom: 1px solid black;
	text-align: right;
}

th
{
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Poiret One', cursive;
	border-bottom: 2px solid black;
}

/*PRZYCISKI*/
.button1
{
	width: 300px;
	margin-top: 20px;
	padding: 10px 0px;
	font-family: 'Poiret One', cursive;
	background-color: #303030;
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 2px;
	text-align: center;
	outline: none;	
}

.button1:hover
{
	background-color: #010312;
	cursor: pointer;
}

#buttonAccept.button1:hover
{
	background-color: #011204;
	cursor: pointer;
}

#buttonCancel.button1:hover
{
	background-color: #120102;
	cursor: pointer;
}

a.buttonlink
{
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}

.footerBar
{
	padding: 10px 0px;
	font-family: 'Poiret One', cursive;
	font-weight: 400; 
	font-size: 14px;
	text-align: center;
	background-color: #000;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
	color: #FFF;
}

.loginText
{
	width: 300px;
	background-color: #EFEFEF;
	color: #666;
	border: 2px solid #303030;
	border-radius: 2px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

.loginText:focus
{
	-webkit-box-shadow: 0px 0px 10px 1px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 2px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 2px rgba(204,204,204,0.9); 
	border: 2px solid #010312;
	background-color: #C9EFF5;
	color: #000;
}

/*ikonki FONT AWSOME*/
.fa-envelope:hover
{
	color: #C9EFF5;
}

.fa-user-plus:hover
{
	color: #C9EFF5;
}

.fa-key:hover
{
	color: #C9EFF5;
}

.fa-user:hover
{
	color: #C9EFF5;
}

@media (max-width: 767px)
{
	#formAlignText
	{
		text-align: center;
		padding: 2px;
	}
	
	#formAlignData
	{
		padding: 2px;
		text-align: center !important;
	}
	
	ul > li
	{
		border-right: none;
	}

	ul > li:first-child
	{
		border-left: none;
	}
}