body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/prism.png");
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #FFF;
	margin: 0 !important;
}

.header
{
	width: 100%;
	height: 1px;
	padding: 40px 0;
	background-color: #000;
}

#headContainer
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 1000px;
}

.logo
{
	width: 50%;
	float: left;
	font-family: 'Poiret One', cursive;
	color: #FFF;
}

a.logolink
{
	color: #FFF;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

a.logolink:hover
{
	text-decoration: none;
	color: #8C8C8C;
}

a.logolink:visited
{
	text-decoration: none;
}

a.logolink:active
{
	text-decoration: none;
}

.userinfo
{
	float: left;
	margin-left: 250px;
	font-size: 14px;
	color: #303030;
}

.navigator
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0;
	background-color: #303030;
	font-family: 'Poiret One', cursive;
	text-align: center;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #696969;
}

ol > li :first-child
{
	border-left: 1px dashed #696969;
}

ol > li:hover
{
	background-color: #212121;
}

ol > li:hover > a
{
	color: #FFF;
}

.titleBar
{
	height: 50px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px 0px;
	font-family: 'Poiret One', cursive;
	letter-spacing: 3px;
	background-color: #000;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
	text-align: center;
	color: #FFF;
}

h4.titleBar
{}

.dataSheet
{
	height: auto;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 0px;
	background-color: #696969;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.singleData
{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
	border: 1px solid #FFF;
}

.formAlignText
{
	width: 200px;
	height: 50px;
	margin-top: 10px;
	float: left;
	font-size: 16px;
	font-family: 'Poiret One', cursive;
	
	border: 1px solid #000;
}

.formAlignData
{
	width: 300px;
	margin-top: 5px;
	margin-left: 100px;
	float: left;
	
	border: 1px solid #000;
}

#fATBalance.formAlignText
{
	width: 200px;
	height: 50px;
	margin-top: 10px;
	margin-left: 380px;
	float: left;
	font-size: 16px;
	font-family: 'Poiret One', cursive;
}

#fADBalance.formAlignData
{
	width: 300px;
	height: 50px;
	margin-left: 10px;
	margin-top: 5px;
}

#fATMenu.formAlignText
{
	width: 448px;
	height: 200px;
	margin-top: auto;
	margin-left: auto;
	float: left;
	font-size: 16px;
	font-family: 'Poiret One', cursive;
	text-align: justify;
}

.formText
{
	width: 300px;
	font-family: 'Lato', sans-serif;
	background-color: #EFEFEF;
	color: #666;
	border: 2px solid #303030;
	border-radius: 2px;
	font-size: 14px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

.formText:focus
{
	background-color: #EDE8CA;
}

.expCategory
{
	width: 300px;
	font-family: 'Lato', sans-serif;
	background-color: #EFEFEF;
	color: #666;
	border: 2px solid #303030;
	border-radius: 2px;
	font-size: 14px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

.expCategory:focus
{
	background-color: #EDE8CA;
}

#textArea
{
	width: 300px;
	font-family: 'Lato', sans-serif;
	background-color: #EFEFEF;
	color: #666;
	border: 2px solid #303030;
	border-radius: 2px;
	font-size: 14px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

#textArea:focus
{
	background-color: #EDE8CA;
}

.tableBox
{
	height: auto;
	width: 426px;
	margin: 10px;
	float: left;
	border-radius: 3px;
}

table
{
	width: 300px;
	margin: 6px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #303030;
	border-radius: 3px;
}

td
{
	border-bottom: 1px solid black;
	text-align: right;
}

th
{
	font-size: 16px;
	border-bottom: 2px solid black;
}

.button1
{
	width: 300px;
	margin-top: 20px;
	padding: 10px 0px;
	font-family: 'Poiret One', cursive;
	background-color: #303030;
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 2px;
	text-align: center;
	outline: none;	
}

.button1:hover
{
	background-color: #212121;
	cursor: pointer;
}

a.buttonlink
{
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}

.footerBar
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 20px 0px;
	font-family: 'Poiret One', cursive;
	font-weight: 400; 
	font-size: 14px;
	text-align: center;
	background-color: #000;
	border-top: 1px solid #696969;
	border-bottom: 1px solid #696969;
	color: #FFF;
}

.loginText
{
	width: 300px;
	background-color: #EFEFEF;
	color: #666;
	border: 2px solid #303030;
	border-radius: 2px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

.loginText:focus
{
	-webkit-box-shadow: 0px 0px 10px 1px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 2px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 2px rgba(204,204,204,0.9); 
	border: 2px solid #FFF;
	background-color: #EDE8CA;
	color: #000;
}

.button2
{
	width: 300px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px;
	font-family: 'Poiret One', cursive;
	background-color: #303030;
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 2px;
	text-align: center;
	outline: none;	
}

.button2:hover
{
	background-color: #212121;
	cursor: pointer;
}

.formAlignLogin
{
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}